<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <base href="{{ app.request.schemeAndHttpHost }}" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ asset('bundles/sulusalescore/css/pdfstyles.css') }}"/>
    </head>
    <body class="header-template">
        <div class="header-container"></div>
    </body>
</html>
