{% block list %}
    <link rel="stylesheet" type="text/css" href="/bundles/sulusalescore/css/main.min.css"/>
    <div id="orders-list-info"></div>
    <div id="list-toolbar-container"></div>
    <div id="orders-list"></div>
{% endblock %}
