<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Sulu-Sales Test Suite">
            <directory suffix="Test.php">./src/Sulu/Bundle/Sales/CoreBundle/Tests</directory>
            <directory suffix="Test.php">./src/Sulu/Bundle/Sales/OrderBundle/Tests</directory>
            <directory suffix="Test.php">./src/Sulu/Bundle/Sales/ShippingBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="tests/app"/>
        <var name="APP_DB" value="mysql"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
