{% trans_default_domain "order_confirmation_email" %}

{% block subject %}
    {% trans with {
        '%shopowner.name_short%': shopowner.name_short,
        '%number%': order.number,
        '%date%': order.orderDate | localizeddate('medium', 'none') | default('')
    } %} customer.subject {% endtrans %}
{% endblock %}

{% block body_html %}
    {% import _self as macros %}
    <html>
    <head>
        <style type="text/css">
            body {
                font-family: Helvetica, Arial;
            }
        </style>
    </head>
    <body>
        <p>
            <strong>{{ macros.getSalutation(contact) }},</strong>
        </p>
        <p>
            {% trans %} customer.content {% endtrans %}
        </p>
    </body>
    </html>
{% endblock %}

{% block body_text %}{% spaceless %}
{% import _self as macros %}
{{ macros.getSalutation(contact) }},

{% trans %} customer.content {% endtrans %}
{% endspaceless %}{% endblock %}

{% macro getSalutation(contact) %}{% spaceless %}
    {{
        contact.getSalutation() | default('default.salutation' | trans) ~ ' ' ~
        contact.getFullName() | default('default.customer' | trans)
    }}
{% endspaceless %}{% endmacro %}
