<form class="settings-overlay">
    <% if (columns.indexOf('address') > -1) { %>
    <!--<div class="grid-row">-->
        <!--<div class="grid-col-12">-->
            <!--<div class="form-group">-->
                <!--<label>Adresse</label>-->
                <!--<select class="address" data-type="address-select" data-mapper-property="address">-->
                    <!--<% _.each(addresses, function(address) { %>-->
                    <!--<option value="<%=address.id%>"><%= convertAddressString(address) %></option>-->
                    <!--<% }); %>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <% } %>
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group-vertical">
                <label>Notiz</label>
                <textarea class="form-group"></textarea>
            </div>
        </div>
    </div>
</form>
