<tr id="<%= rowId %>" class="item-table-row <%= rowClass %>" data-id="<%= id %>" >
    <td class="row-number">
    </td>
    <td class="item-name">
        <span><%= name %></span>
    </td>
    <td class="item-number is-numeric">
        <span><%= number %></span>
    </td>
    <td class="settings">
    </td>
    <td class="item-quantity is-numeric">
        <span><%= quantity %></span>
    </td>
    <td class="item-quantity-unit is-numeric">
        <%= quantityUnit %>
    </td>
    <td class="item-price is-numeric">
        <span><%= price %></span>
    </td>
    <td class="item-discount is-numeric">
        <span><%= discount %></span>
    </td>
    <td class="item-overallPrice is-numeric">
        <%= overallPrice %>
    </td>
    <td class="item-remove">
    </td>
</tr>
