<form id="order-form" class="form-horizontal">
    <input type="hidden" data-mapper-property="id"/>

    <div class="changeListener">
        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="account-input" class="required"><%=translate('salesorder.orders.account')%></label>

                    <div id="account-input"></div>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="commission"><%=translate('salesorder.orders.commission')%></label>
                    <input id="commission" class="form-element" type="text" data-mapper-property="commission"/>
                </div>
            </div>
        </div>
        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="contact-select" class="required"><%=translate('salesorder.orders.contact')%></label>

                    <div id="contact-select"
                         data-aura-component="select@husky"
                         data-aura-data="[]"
                         data-aura-instance-name="contact-select"
                         data-aura-value-name="fullName"
                         data-aura-multiple-select="false"
                         data-aura-default-label="<%=translate('dropdown.please-choose')%>"
                         data-aura-pre-selected-elements="[]"
                         data-validation-required="true"
                         data-type="husky-select"
                         data-mapper-property="contact"
                         data-form="true"/>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="order-number"><%=translate('salesorder.orders.number')%></label>
                    <input id="order-number" class="form-element" type="text" data-mapper-property="orderNumber"/>
                </div>
            </div>
        </div>
        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="responsible-contact-select" class="required"><%=translate('salesorder.orders.responsibleContact')%></label>

                    <div id="responsible-contact-select"
                         data-aura-component="select@husky"
                         data-aura-data='{{ systemUser|json_encode()|raw }}'
                         data-aura-default-label="<%=translate('public.please-choose')%>"
                         data-aura-value-name="fullName"
                         data-aura-multiple-select="false"
                         data-aura-instance-name="responsible-contact-select"
                         data-type="husky-select"
                            {#data-type-label="translation"#}
                            {#data-type-required="translation"#}
                         data-mapper-property="responsibleContact"
                         data-validation-required="true"
                         data-form="true">
                    </div>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="cost-centre"><%=translate('salesorder.orders.costCentre')%></label>
                    <input id="cost-centre" class="form-element" type="text" data-mapper-property="costCentre"/>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="tax-free" class="required"><%=translate('salesorder.orders.taxFree')%></label>

                    <div>
                        <div class="custom-checkbox">
                            <input class="form-element husky-validate" type="checkbox" id="tax-free"
                                   data-mapper-property="taxfree">
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    {#<label for="cost-centre" class="required"><%=translate('salesorder.orders.number')%></label>#}
                    {#<input id="cost-centre" class="form-element" type="text"/>#}
                </div>
            </div>
        </div>

        <div class="grid-row small">
            <div class="grid-col-12">
                <div class="form-group">
                    <label for="delivery-address-select" class="required"><%=translate('address.delivery')%></label>

                    <div id="delivery-address-select"
                         data-aura-component="select@husky"
                         data-aura-data="[]"
                         data-aura-instance-name="delivery-address-select"
                         data-aura-value-name="address"
                         data-aura-default-label="<%=translate('dropdown.please-choose')%>"
                         data-type="husky-select"
                         data-mapper-property="deliveryAddress"
                         data-validation-required="true"
                         data-form="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-row small">
            <div class="grid-col-12">
                <div class="form-group">
                    <label for="payment-address-select" class="required"><%=translate('address.invoice')%></label>

                    <div id="payment-address-select"
                         data-aura-component="select@husky"
                         data-aura-data="[]"
                         data-aura-instance-name="payment-address-select"
                         data-aura-value-name="address"
                         data-aura-default-label="<%=translate('dropdown.please-choose')%>"
                         data-type="husky-select"
                         data-mapper-property="paymentAddress"
                         data-validation-required="true"
                         data-form="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-row small">
            <div class="grid-col-12">
                <div class="form-group">
                    <label for="delivery-terms-select"><%=translate('contact.termsOfDelivery')%></label>

                    <div id="delivery-terms-select"
                         data-aura-component="select@husky"
                         data-aura-deselect-field="select.no-choice"
                         data-aura-data='{{ termsOfDelivery|json_encode()|raw }}'
                         data-aura-default-label="<%=translate('public.please-choose')%>"
                         data-aura-multiple-select="false"
                         data-aura-instance-name="delivery-terms"
                         data-aura-pre-selected-elements="[]"
                         data-type="husky-select"
                         data-mapper-property="termsOfDelivery"
                         data-validation-required="false"
                         data-form="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row small">
            <div class="grid-col-12">
                <div class="form-group">
                    <label for="delivery-terms-select"><%=translate('contact.termsOfPayment')%></label>

                    <div id="payment-terms-select"
                         data-aura-component="select@husky"
                         data-aura-deselect-field="select.no-choice"
                         data-aura-data='{{ termsOfPayment|json_encode()|raw }}'
                         data-aura-default-label="<%=translate('public.please-choose')%>"
                         data-aura-multiple-select="false"
                         data-aura-instance-name="payment-terms"
                         data-aura-pre-selected-elements="[]"
                         data-type="husky-select"
                         data-mapper-property="termsOfPayment"
                         data-validation-required="false"
                         data-form="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% block data %}
    <script type="text/javascript">
        (function() {
            {#var systemUser = {#}
            {#'email': {{ systemUser|json_encode()|raw }}#}
            {#};#}
            {#App.emit('sulu.salesorder.set-system-user', systemUser);#}
        })();
    </script>
{% endblock %}
