<div class="grid-row m-bottom-40" id="flow-of-documents"
        data-aura-component="flow-of-documents@sulusalescore"
        data-aura-instance-name="orders"
        data-aura-data='{{ data|json_encode()|raw }}'></div>
