/* line 7, ../scss/modules/item-table.scss */
.item-table-container {
  counter-reset: rowcount;
}

/* line 11, ../scss/modules/item-table.scss */
.item-table-list-form {
  margin-top: 20px;
}
/* line 16, ../scss/modules/item-table.scss */
.item-table-list-form.hide-toolbars .add-row,
.item-table-list-form.hide-toolbars .item-remove, .item-table-list-form.disabled .add-row,
.item-table-list-form.disabled .item-remove {
  display: none;
}
/* line 21, ../scss/modules/item-table.scss */
.item-table-list-form.hide-toolbars .global-price-table, .item-table-list-form.disabled .global-price-table {
  margin-right: 0;
}
/* line 25, ../scss/modules/item-table.scss */
.item-table-list-form.hide-toolbars .husky-toolbar .toolbar-item, .item-table-list-form.disabled .husky-toolbar .toolbar-item {
  display: none;
}
/* line 31, ../scss/modules/item-table.scss */
.item-table-list-form.disabled input {
  background-color: transparent;
}

/* line 37, ../scss/modules/item-table.scss */
.item-table-list {
  list-style: none;
  padding: 0;
}
/* line 41, ../scss/modules/item-table.scss */
.item-table-list .header {
  border-bottom: 2px solid #ccc;
  border-color: #ccc;
  vertical-align: top;
  font-size: 14px;
  padding: 8px 10px;
}
/* line 49, ../scss/modules/item-table.scss */
.item-table-list .header tr {
  height: 30px;
}
/* line 52, ../scss/modules/item-table.scss */
.item-table-list .header tr > * {
  padding: 0 20px 0 0;
}
/* line 56, ../scss/modules/item-table.scss */
.item-table-list .header .input-field {
  display: none;
}
/* line 60, ../scss/modules/item-table.scss */
.item-table-list .is-numeric,
.item-table-list .is-numeric input {
  text-align: right;
}

/* line 67, ../scss/modules/item-table.scss */
.husky-validate-error *:not(.husky-validate-error) > .husky-validate:not(label) {
  border: 1px solid #ccc;
}

/* line 71, ../scss/modules/item-table.scss */
.item-table-row {
  height: 50px;
  border-bottom: 1px solid #ccc;
}
/* line 77, ../scss/modules/item-table.scss */
.item-table-row .row-number:before {
  counter-increment: rowcount;
  content: counter(rowcount);
}
/* line 87, ../scss/modules/item-table.scss */
.item-table-row:last-child {
  border-bottom: 2px solid #ccc;
}
/* line 93, ../scss/modules/item-table.scss */
.item-table-row.new .product-search {
  display: block;
}
/* line 98, ../scss/modules/item-table.scss */
.item-table-row .span {
  height: 100%;
}
/* line 103, ../scss/modules/item-table.scss */
.item-table-row .item-name {
  min-width: 170px;
}
/* line 107, ../scss/modules/item-table.scss */
.item-table-row .product-search {
  margin: 0;
  display: none;
}
/* line 113, ../scss/modules/item-table.scss */
.item-table-row > * {
  padding: 0 20px 0 0;
}
/* line 117, ../scss/modules/item-table.scss */
.item-table-row > *:first-child {
  padding-left: 20px;
}

/* line 123, ../scss/modules/item-table.scss */
.item-remove a, .item-remove a:visited, .item-remove a:active {
  color: black;
}

/* line 128, ../scss/modules/item-table.scss */
.item-add {
  width: 41.66%;
  margin-top: 20px;
}
/* line 131, ../scss/modules/item-table.scss */
.item-add a {
  color: black;
}
/* line 133, ../scss/modules/item-table.scss */
.item-add a:hover, .item-add a:visited {
  color: black;
}
/* line 140, ../scss/modules/item-table.scss */
.item-add .add-row {
  font-size: 10px;
}

/* line 145, ../scss/modules/item-table.scss */
.item-overall-price {
  text-align: right;
}

/* line 149, ../scss/modules/item-table.scss */
.item-price {
  min-width: 100px;
}

/* line 153, ../scss/modules/item-table.scss */
.disabled .delivery-cost {
  padding-right: 20px;
}

/* line 157, ../scss/modules/item-table.scss */
.delivery-cost {
  text-align: right;
  min-width: 100px;
  padding-right: 50px;
}
/* line 162, ../scss/modules/item-table.scss */
.delivery-cost label {
  display: inline;
  margin-right: 13px;
}
/* line 167, ../scss/modules/item-table.scss */
.delivery-cost input {
  text-align: right;
}
/* line 171, ../scss/modules/item-table.scss */
.delivery-cost .form-element {
  width: 72px;
}

/* line 177, ../scss/modules/item-table.scss */
.global-price-container {
  padding-top: 15px;
  position: relative;
  float: right;
}
/* line 182, ../scss/modules/item-table.scss */
.global-price-container .global-price-table {
  width: initial;
  float: right;
  margin-right: 31px;
  text-align: right;
}
/* line 188, ../scss/modules/item-table.scss */
.global-price-container .global-price-table td {
  padding: 0 20px 0 0;
}
/* line 192, ../scss/modules/item-table.scss */
.global-price-container .global-price-table tr {
  height: 30px;
}
/* line 194, ../scss/modules/item-table.scss */
.global-price-container .global-price-table tr:last-child {
  font-weight: bold;
}
/* line 196, ../scss/modules/item-table.scss */
.global-price-container .global-price-table tr:last-child:not(:first-child) {
  border-top: 1px solid #ccc;
}

/* line 1, ../scss/modules/sidebar.scss */
.sulu-sidebar .blue-icon > span {
  margin-top: 1px;
}

/* line 5, ../scss/modules/sidebar.scss */
.sidebar-table {
  font-size: 12px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
/* line 11, ../scss/modules/sidebar.scss */
.sidebar-table tr {
  height: 30px;
  border-bottom: 1px solid #ccc;
}
/* line 16, ../scss/modules/sidebar.scss */
.sidebar-table td {
  padding-left: 10px;
}
/* line 19, ../scss/modules/sidebar.scss */
.sidebar-table td:last-child {
  padding-right: 10px;
}
/* line 23, ../scss/modules/sidebar.scss */
.sidebar-table td.icon-cell {
  width: 25px;
}

/* line 29, ../scss/modules/sidebar.scss */
.sidebar-table-title {
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
}

/* line 1, ../scss/modules/transition-overlay.scss */
.transition-overlay-container {
  width: 80%;
}
/* line 4, ../scss/modules/transition-overlay.scss */
.transition-overlay-container .slides .slide {
  width: 100%;
}
/* line 8, ../scss/modules/transition-overlay.scss */
.transition-overlay-container .overlay-header {
  display: none;
}
/* line 12, ../scss/modules/transition-overlay.scss */
.transition-overlay-container .overlay-footer {
  width: 100%;
}

/* line 1, ../scss/modules/editable-data-row.scss */
.disabled .editable-row {
  cursor: auto !important;
}

/* line 8, ../scss/main.scss */
.not-clickable {
  color: #999;
}

/* line 14, ../scss/main.scss */
h2.divider {
  clear: both;
}

/* line 19, ../scss/main.scss */
.disabled-button {
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}
/* line 24, ../scss/main.scss */
.disabled-button i {
  cursor: no-drop;
}
