/* line 7, ../scss/modules/item-table.scss */
body {
  counter-reset: rowcount;
}

/* line 11, ../scss/modules/item-table.scss */
#item-table-form {
  margin-top: 20px;
}
/* line 17, ../scss/modules/item-table.scss */
#item-table-form.disabled .add-row,
#item-table-form.disabled .item-remove {
  display: none;
}
/* line 20, ../scss/modules/item-table.scss */
#item-table-form.disabled .global-price-table {
  margin-right: 0;
}
/* line 24, ../scss/modules/item-table.scss */
#item-table-form.disabled input {
  background-color: transparent;
}
/* line 28, ../scss/modules/item-table.scss */
#item-table-form.disabled .husky-toolbar .toolbar-item {
  display: none;
}

/* line 34, ../scss/modules/item-table.scss */
.item-table-list {
  list-style: none;
  padding: 0;
}
/* line 38, ../scss/modules/item-table.scss */
.item-table-list .header {
  border-bottom: 2px solid #cccccc;
  border-color: #ccc;
  vertical-align: top;
  font-size: 14px;
  padding: 8px 10px;
}
/* line 46, ../scss/modules/item-table.scss */
.item-table-list .header tr {
  height: 30px;
}
/* line 49, ../scss/modules/item-table.scss */
.item-table-list .header tr > * {
  padding: 0 20px 0 0;
}
/* line 53, ../scss/modules/item-table.scss */
.item-table-list .header .input-field {
  display: none;
}
/* line 58, ../scss/modules/item-table.scss */
.item-table-list .is-numeric,
.item-table-list .is-numeric input {
  text-align: right;
}

/* line 64, ../scss/modules/item-table.scss */
.husky-validate-error *:not(.husky-validate-error) > .husky-validate:not(label) {
  border: 1px solid #ccc;
}

/* line 68, ../scss/modules/item-table.scss */
.item-table-row {
  height: 50px;
  border-bottom: 1px solid #cccccc;
}
/* line 74, ../scss/modules/item-table.scss */
.item-table-row .row-number:before {
  counter-increment: rowcount;
  content: counter(rowcount);
}
/* line 84, ../scss/modules/item-table.scss */
.item-table-row:last-child {
  border-bottom: 2px solid #cccccc;
}
/* line 90, ../scss/modules/item-table.scss */
.item-table-row.new .product-search {
  display: block;
}
/* line 95, ../scss/modules/item-table.scss */
.item-table-row .span {
  height: 100%;
}
/* line 100, ../scss/modules/item-table.scss */
.item-table-row .item-name {
  min-width: 170px;
}
/* line 104, ../scss/modules/item-table.scss */
.item-table-row .product-search {
  margin: 0;
  display: none;
}
/* line 110, ../scss/modules/item-table.scss */
.item-table-row > * {
  padding: 0 20px 0 0;
}
/* line 114, ../scss/modules/item-table.scss */
.item-table-row > *:first-child {
  padding-left: 20px;
}

/* line 120, ../scss/modules/item-table.scss */
.item-remove a, .item-remove a:visited, .item-remove a:active {
  color: black;
}

/* line 125, ../scss/modules/item-table.scss */
.item-add {
  margin-top: 20px;
}
/* line 126, ../scss/modules/item-table.scss */
.item-add a {
  color: black;
}
/* line 128, ../scss/modules/item-table.scss */
.item-add a:hover, .item-add a:visited {
  color: black;
}
/* line 135, ../scss/modules/item-table.scss */
.item-add .add-row {
  font-size: 10px;
}

/* line 140, ../scss/modules/item-table.scss */
.item-overall-price {
  text-align: right;
}

/* line 145, ../scss/modules/item-table.scss */
.global-price-container {
  padding-top: 15px;
  position: relative;
}
/* line 149, ../scss/modules/item-table.scss */
.global-price-container .global-price-table {
  width: initial;
  float: right;
  margin-right: 31px;
  text-align: right;
}
/* line 155, ../scss/modules/item-table.scss */
.global-price-container .global-price-table td {
  padding: 0 20px 0 0;
}
/* line 159, ../scss/modules/item-table.scss */
.global-price-container .global-price-table tr {
  height: 30px;
}
/* line 161, ../scss/modules/item-table.scss */
.global-price-container .global-price-table tr:last-child {
  font-weight: bold;
  border-top: 1px solid #ccc;
}

/* line 1, ../scss/modules/sidebar.scss */
.sulu-sidebar .blue-icon > span {
  margin-top: 1px;
}

/* line 5, ../scss/modules/sidebar.scss */
.sidebar-table {
  font-size: 12px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
/* line 11, ../scss/modules/sidebar.scss */
.sidebar-table tr {
  height: 30px;
  border-bottom: 1px solid #ccc;
}
/* line 16, ../scss/modules/sidebar.scss */
.sidebar-table td {
  padding-left: 10px;
}
/* line 19, ../scss/modules/sidebar.scss */
.sidebar-table td:last-child {
  padding-right: 10px;
}
/* line 23, ../scss/modules/sidebar.scss */
.sidebar-table td.icon-cell {
  width: 25px;
}

/* line 29, ../scss/modules/sidebar.scss */
.sidebar-table-title {
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
}

/* line 1, ../scss/modules/editable-data-row.scss */
.disabled .editable-row {
  cursor: auto !important;
}

/* line 7, ../scss/main.scss */
.not-clickable {
  color: #999;
}

/* line 13, ../scss/main.scss */
h2.divider {
  clear: both;
}
