{% trans_default_domain "order_confirmation_email" %}

{% block subject %}
    {% trans with {
        '%number%': order.number,
        '%date%': order.orderDate|date('d.m.Y.')|default('')
    } %}subject{% endtrans %}
{% endblock %}

{% block body_html %}
    <html>
    <head>
        <style type="text/css">
            body {
                font-family: Helvetica, Arial;
            }
        </style>
    </head>
    <body>

    <p>
        {% if contact.getSalutation() %}
            {% set salutation = contact.getSalutation() %}
        {% else %}
            {% set salutation = 'default.salutation'|trans %}
        {% endif %}

        <strong>{{ salutation }} {{ contact.getFullName() }},</strong>
    </p>
    <p>
        {% trans %}Thank you for your order{% endtrans %}
    </p>
    <p>
        {% trans %}your{% endtrans %} POOL-ALPIN Team</br>
        {% trans %}label.telephone{% endtrans %}: 43 (0)5522/240 40 -108</br>
        {% trans %}label.email{% endtrans %}: office@pool-alpin.com</br>
    </p>

    </body>
    </html>
{% endblock %}

{% block body_text %}
    {% spaceless %}
        {% trans %}Thank you for your order{% endtrans %}
    {% endspaceless %}
{% endblock %}
