<% var disabled = isEditable ? '' : 'disabled' %>

<link rel="stylesheet" type="text/css" href="/bundles/sulusalescore/css/main.min.css"/>
<div class="shipping-form-container <%= disabled %>">
    <form id="shipping-form" class="form-horizontal">
        <input type="hidden" data-mapper-property="id"/>

        <div class="grid-row">

            <div class="grid-row small changeListener">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="account" class="required"><%=translate('salescore.account')%></label>

                        <div id="account" class="not-clickable"></div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="commission"><%=translate('salesorder.orders.commission')%></label>
                        <input id="commission" class="form-element" type="text" data-mapper-property="commission"
                        <%=
                        disabled %>/>
                    </div>
                </div>
            </div>

            <div class="grid-row small changeListener">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="contact" class="required"><%=translate('salescore.contact')%></label>

                        <div id="contact" class="not-clickable"></div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group changeListener">
                        <label for="shipping-number"><%=translate('salesshipping.shippings.number')%></label>
                        <input id="shipping-number" class="form-element" type="text" data-mapper-property="shippingNumber"
                        <%= disabled %>/>
                    </div>
                </div>
            </div>

            <div class="grid-row small changeListener">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="expected-delivery-date-input"><%=translate('salesshipping.shippings.expected-delivery-date')%></label>

                        <div id="expected-delivery-date"
                             data-form="true"
                             data-type="husky-input"
                             data-aura-component="input@husky"
                             data-aura-disabled="<%= !isEditable %>"
                             data-aura-datepicker-options='{"startDate":"<%= new Date() %>"}'
                             data-aura-skin="date"
                             data-aura-instance-name="expected-delivery-date"
                             data-aura-input-id="expected-delivery-date-input"
                             data-aura-input-name="expected-delivery-date"
                             data-mapper-property="expectedDeliveryDate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row small">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="delivery-address" class="required"><%=translate('address.delivery')%></label>

                        <div id="delivery-address"
                             data-aura-component="editable-data-row@sulusalescore"
                             data-form="true"
                             data-aura-view="address"
                             data-mapper-property="deliveryAddress"
                             data-validation-required="true"
                             data-aura-instance-name="delivery-address"
                             data-aura-disabled="<%= !isEditable %>"
                             data-type="editableDataRow">
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row small changeListener">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="delivery-terms-row"><%=translate('contact.termsOfDelivery')%></label>

                        <div id="delivery-terms-row"
                             data-aura-component="editable-data-row@sulusalescore"
                             data-aura-select-data='{{ termsOfDelivery|json_encode()|raw }}'
                             data-form="true"
                             data-mapper-property="termsOfDeliveryContent"
                             data-aura-view="simple"
                             data-aura-instance-name="delivery-terms"
                             data-aura-disabled="<%= !isEditable %>"
                             data-type="editableDataRow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row small changeListener">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="payment-terms-row"><%=translate('contact.termsOfPayment')%></label>

                        <div id="payment-terms-row"
                             data-aura-component="editable-data-row@sulusalescore"
                             data-aura-select-data='{{ termsOfPayment|json_encode()|raw }}'
                             data-form="true"
                             data-mapper-property="termsOfPaymentContent"
                             data-aura-view="simple"
                             data-aura-instance-name="payment-terms"
                             data-aura-disabled="<%= !isEditable %>"
                             data-type="editableDataRow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row changeListener">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="internal-note" class="top"><%=translate('salescore.internal-note')%></label>
                        <textarea id="internal-note" class="form-element" data-mapper-property="internalNote"
                        <%= disabled %>/></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="changeListener">
            <div id="shipping-items"
                 data-aura-component="item-quantity-table@sulusalescore"
                 data-aura-is-editable="<%= isEditable %>"
                 data-aura-is-new="<%= isNew %>"
                 data-aura-processed-items='<%= JSON.stringify(shippedOrderItems) %>'
                 data-aura-header-translations='{"processedQuantity":"salesshipping.shippings.processed-items"}'
                 data-aura-items-data='<%= JSON.stringify(order.items) %>'
                 data-form="true"
                 data-type="itemTable"
                 data-mapper-property="items">
            </div>
        </div>
    </form>
</div>

