<% var displayClass = ''; %>
<% if (displayToolbars == false) { %>
<%      displayClass =  'hide-toolbars'; %>
<% } %>
<div id="<%= formId %>"
     class="item-table-list-form<% if (isEditable == 'false' || isEditable == false) {print(' disabled');} %> <%= displayClass %>">
    <div class="item-table-container">
        <table class="item-table-list"></table>
    </div>

    <div class="item-add grid-col-5 husky-toolbar small">
        <ul class="group left">
            <li class="toolbar-item add-independent">
                <span class="fa-plus-circle icon"></span>
            </li><li class="toolbar-item add-row">
                <span class="fa-search icon"></span>
            </li>
        </ul>
    </div>

    <% if (columns.indexOf('totalPrice') > -1) { %>
    <div class="grid-col-7 global-price-container">
        <table class="global-price-table grey-font"></table>
    </div>
    <% } %>
</div>
