<form id="settings-overlay" class="settings-overlay husky-validate">
    <% if (!!isIndependent) { %>
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.name') %></label>
                <input class="form-element"
                       data-validation-required="true"
                       type="text"
                       data-mapper-property="name"
                       value="<%= name %>">
            </div>
        </div>
    </div>
    <% } %>
    <% if (settings.columns.indexOf('addresses') > -1) { %>
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group-vertical">
                <label><%= translate('address.delivery') %></label>
                <select class="address form-element" data-type="select" data-mapper-property="deliveryAddress">
                    <option value="-1"><%= defaultAddressLabel %></option>
                    <% _.each(settings.addresses, function(address) { %>
                    <option value="<%=address.id%>"
                    <% if (address.id == deliveryAddress.id){%> selected="selected"<%}%> >
                    <%= createAddressString(address) %>
                    </option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>
    <% } %>
    <% if (settings.columns.indexOf('description') > -1) { %>
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.description') %></label>
                <textarea class="form-element" data-mapper-property="description"><%= description %></textarea>
            </div>
        </div>
    </div>
    <% } %>
    <% if (settings.columns.indexOf('quantity') > -1 || settings.columns.indexOf('single-price') > -1) { %>
    <div class="grid-row">
        <% if (settings.columns.indexOf('quantity') > -1) { %>
        <div class="grid-col-3">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.quantity') %></label>
                <input class="form-element js-quantity"
                       type="text"
                       data-type="decimal"
                       data-mapper-property="quantity"
                       data-validation-min="0.01"
                       data-validation-required="true"
                       value="<%= numberFormat(quantity) %>"/>
            </div>
        </div>
        <div class="grid-col-3">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.unit') %></label>
                <% if (!!isIndependent) { %>
                    <select class="form-element" data-type="select" data-mapper-property="quantityUnit">
                        <% _.each(settings.units, function(unit) { %>
                            <option value="<%= unit.name %>"
                            <% if (unit.id === 1 || (!!quantityUnit && unit.name === quantityUnit)) {
                                   print(selected="selected");
                               }
                            %>>
                                <%= unit.name %>
                            </option>
                        <% }); %>
                    </select>
                <% } else { %>
                    <span><%= quantityUnit %></span>
                <% } %>
            </div>
        </div>
        <% } %>
        <% if (settings.columns.indexOf('single-price') > -1) { %>
        <div class="grid-col-3">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.price') %></label>
                <input class="form-element js-price"
                       type="text"
                       data-mapper-property="price"
                       data-type="decimal"
                       data-validation-required="true"
                       value="<%= numberFormat(price) %>"/>
            </div>
        </div>
        <div class="grid-col-3">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.is-recurring-price') %></label>
                <input class="form-element husky-validate"
                       type="checkbox"
                       id="is-recurring-price"
                        <%= isRecurringPrice ? 'checked' : '' %>
                       data-mapper-property="isRecurringPrice"/>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
    <% if (settings.columns.indexOf('delivery-date') > -1 || settings.columns.indexOf('cost-center') > -1) { %>
    <div class="grid-row">
        <% if (settings.columns.indexOf('delivery-date') > -1) { %>
        <div class="grid-col-6">
            <div class="form-group-vertical">
                <label><%= translate('salescore.delivery-date') %></label>

                <div id="delivery-date"
                     data-mapper-property="deliveryDate"
                     data-type="husky-input"
                     data-value="<%= deliveryDate %>"
                     data-form="true"></div>
            </div>
        </div>
        <% } %>
        <% if (settings.columns.indexOf('cost-center') > -1) { %>
        <div class="grid-col-6">
            <div class="form-group-vertical">
                <label><%= translate('salesorder.orders.costCentre') %></label>
                <input class="form-element" type="text" data-mapper-property="costCentre" value="<%= costCentre %>"/>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
    <% if (settings.columns.indexOf('discount') > -1 || settings.columns.indexOf('tax-rate') > -1) { %>
    <div class="grid-row">
        <% if (settings.columns.indexOf('discount') > -1) { %>
        <div class="grid-col-6">
            <div class="form-group-vertical">
                <label><%= translate('salescore.item.discount') %></label>
                <input class="form-element js-discount"
                       type="text"
                       data-type="decimal"
                       data-mapper-property="discount"
                       data-validation-min="0.0"
                       data-validation-max="100"
                       value="<%= numberFormat(discount) %>"/>
            </div>
        </div>
        <% } %>

        <% if (!!isIndependent) { %>
            <div class="grid-col-6">
                <div class="form-group-vertical">
                    <label><%= translate('salescore.item.tax-rate') %></label>
                    <select class="form-element" data-type="select" data-mapper-property="tax">
                        <% _.each(settings.taxClasses, function(taxClass) { %>
                            <option value="<%= taxClass.tax %>"
                            <% if (taxClass.tax == tax) print(selected="selected") %>>
                                <%= taxClass.name %> <%= taxClass.tax %> %
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        <% } else if (settings.columns.indexOf('tax-rate') > -1) { %>
            <div class="grid-col-6">
                <div class="form-group-vertical">
                    <label><%= translate('salescore.item.tax-rate') %></label>
                    <% var selectedTax = tax; %>
                    <% _.each(settings.taxClasses, function(taxClass) { %>
                        <% if (taxClass.tax == tax) { %>
                            <% selectedTax = taxClass.name + ' (' + taxClass.tax +' %)'; %>
                        <% } %>
                    <% }); %>
                    <span><%= selectedTax %></span>
                </div>
            </div>
        <% } %>
    </div>
    <% } %>
</form>
