<div id="editable-data-overlay-container" class="grid">

    <div class="grid-row">
        <div class="form-group-vertical">
            <label for="address-select"><%=translate('public.address')%></label>
            <div id="address-select"></div>
        </div>
    </div>

    <div class="grid-row">
        <form class="form-vertical editable-data-overlay-form">
            <div class="m-bottom-10">
                <div class="grid-row small">
                    <div class="grid-col-6">
                        <div class="form-group-vertical">
                            <label for="street" class="required"><%=translate('contact.address.street')%></label>
                            <input id="street" type="text" class="form-element street-value"
                                   data-mapper-property="street" data-validation-required="true"/>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="form-group-vertical">
                            <label for="number" class="required"><%=translate('contact.address.number')%></label>
                            <input id="number" type="text" class="form-element number-value"
                                   data-mapper-property="number" data-validation-required="true"/>
                        </div>
                    </div>
                    <div class="grid-col-4">
                        <div class="form-group-vertical">
                            <label for="addition"><%=translate('contact.address.additional')%></label>
                            <input id="addition" type="text" class="form-element addition-value"
                                   data-mapper-property="addition"/>
                        </div>
                    </div>
                </div>

                <div class="grid-row m-bottom-40">
                    <div class="grid-col-2">
                        <div class="form-group-vertical">
                            <label for="zip" class="required"><%=translate('contact.address.zip')%></label>
                            <input id="zip" type="text" class="form-element zip-value"
                                   data-mapper-property="zip" data-validation-required="true"/>
                        </div>
                    </div>
                    <div class="grid-col-4">
                        <div class="form-group-vertical">
                            <label for="city" class="required"><%=translate('contact.address.city')%></label>
                            <input id="city" type="text" class="form-element city-value"
                                   data-mapper-property="city" data-validation-required="true"/>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="form-group-vertical">
                            <label for="state"><%=translate('contact.address.state')%></label>
                            <input id="state" type="text" class="form-element state-value"
                                   data-mapper-property="state"/>
                        </div>
                    </div>
                    <div class="grid-col-4">
                        <div class="form-group-vertical">
                            <label for="country" class="required"><%=translate('contact.address.country')%></label>
                            <input id="country" type="text" class="form-element country-value"
                                   data-mapper-property="country" data-validation-required="true"/>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
