<div class="editable-data-overlay-container grid">

    <div class="grid-row">
        <div class="form-group-vertical">
            <label for="data-select"><%=translate('public.selection')%></label>
            <!--TODO uncomment, when select is bugfree -->
            <!--<div id="data-select"-->
                 <!--data-aura-component="select@husky"-->
                 <!--data-aura-deselect-field="select.no-choice"-->
                 <!--data-aura-repeat-select="true"-->
                 <!--data-aura-default-label="<%=translate('public.please-choose')%>"-->
                 <!--data-aura-instance-name="<%=instanceName + '.select'%>"-->
                 <!--data-aura-data='<%= JSON.stringify(data) %>'-->
                 <!--data-aura-pre-selected-elements="[]"-->
                 <!--data-aura-value-name="name">-->
            <!--</div>-->
            <select class="form-element" id="data-select">
                <option><%=translate('public.please-choose')%></option>
            <% _.each(data, function(d) { %>
                <option value="<%=d.id%>"><%= d.name %></option>
            <% }); %>
            </select>

        </div>
    </div>

    <form class="form-vertical editable-data-overlay-form">
        <div class="grid-row">
            <div class="grid-col-12">
                <input id="name" type="text" class="form-element"
                       data-mapper-property="name"/>
            </div>
        </div>
    </form>
</div>
