.sulu-sidebar .blue-icon > span {
    margin-top: 1px;
}

.sidebar-table {
    font-size: 12px;
    border-top: 2px solid $gray-light;
    border-bottom: 2px solid $gray-light;


    tr {
        height:30px;
        border-bottom: 1px solid $gray-light;
    }

    td {
        padding-left: 10px;

        &:last-child {
            padding-right: 10px;
        }

        &.icon-cell {
            width: 25px;
        }
    }
}

.sidebar-table-title {
    font-size: 12px;
    margin: 10px;
    font-weight: bold;
}
