<% var disabled = '';
if (rowClass === 'new' || isEditable == 'false' || isEditable == false) {
disabled =  'disabled';
}
%>

<tr id="<%= rowId %>" class="item-table-row <%= rowClass %>" data-id="<%= id %>">
    <td class="row-number grey-font"></td>
    <td class="item-name <%= !!disabled ? 'grey-font' : 'pointer' %>">
        <span><%= item.name %></span>
    </td>
    <td class="item-number is-numeric <%= !!disabled ? 'grey-font' : 'pointer' %>">
        <span><%= item.number %></span>
    </td>
    <td class="item-quantity is-numeric grey-font">
        <span><%= numberFormat(item.quantity.toFixed(1), 'd') %></span>
    </td>
    <td class="item-processed-quantity is-numeric  grey-font">
        <span><%= numberFormat(processedQuantity.toFixed(1), 'd')%></span>
    </td>
    <td class="quantity-input is-numeric">
        <span>
            <input class="input-field form-element"
                   value="<%= quantity %>"
                   data-type="decimal"
                   data-validation-max="<%= maxQuantity %>"
                   data-validation-min="0.0"
            <%= disabled %>/>
        </span>
    </td>
    <td class="item-quantity-unit grey-font">
        <%= item.quantityUnit %>
    </td>
    <% if (canAddRemove === true) { %>
    <td class="item-remove">
        <a href="#"><i class="fa fa-times remove-row"></i></a>
    </td>
    <% } %>
</tr>
