<% var disabled = '';
if (rowClass === 'new' || isEditable == 'false' || isEditable == false) {
disabled =  'disabled';
}
%>

<tr id="<%= rowId %>" class="item-table-row <%= rowClass %>" data-id="<%= id %>">
    <td class="row-number"></td>
    <td class="item-name">
        <span><%= item.name %></span>

        <div class="product-search input-field"></div>
    </td>
    <td class="item-number">
        <span><%= item.number %></span>
    </td>
    <td class="item-quantity">
        <span><%= item.quantity %></span>
    </td>
    <td class="item-quantity">
        <span>
            <input class="input-field form-element"
                   data-validation-required="true"
                   value="<%= quantity %>"
                   data-type="decimal"
                   data-validation-min="0.0"
            <%= quantity %>/>
        </span>
    </td>
    <td class="item-quantity-unit">
        <%= item.quantityUnit %>
    </td>
    <td class="settings">
        <i class="fa fa-list"/>
    </td>
    <td class="item-remove">
        <a href="#"><i class="fa fa-times remove-row"></i></a>
    </td>
</tr>
